$color-text: #ffffff;
$color1: #888888;
$color2: #F7F6F6;
$color3: #000000;

$width-site: 1200px;
$width1: calc(100% / 12);
$width6: calc(50%);

$gap: 32px;

$font-h1: 64px;
$font-h2: 48px;
$font-h3: 26px;

$font-t0: 24px;
$font-t1: 18px;
$font-t2: 16px;
$font-t3: 14px;

$top1: 64px;
$top2: 32px;

$step10: 10px;

$step14: 14px;
$step15: 15px;
$step16: 16px;
$step17: 17px;

$step20: 20px;
$step24: 24px;

$step30: 30px;
$step32: 32px;
$step34: 34px;
$step35: 35px;
$step36: 36px;

$step44: 44px;
$step48: 48px;

$step64: 64px;


