@import "vars";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
}

a {
    font-family: inherit;
    font-weight: normal;
    text-decoration: none;
    font-size: $font-t2;
    line-height: 24px;
    color: $color-text;
    &:hover {
        font-family: inherit;
        text-decoration: underline;
        transition: background-color 1s;
    }
}

ul {
    list-style-type: none;
}

input {
    font-family: inherit;
    &::placeholder {
        font-family: inherit;
        font-size: 1.2em;
    }
}

button {
    font-family: inherit;
    &::placeholder {
        font-family: inherit;
    }
    &:hover {
        transition: background-color 1s;
    }
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
    z-index: 1;
}

.top {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px;
    &-index {
        height: 735px;
        background-image: url(../img/header_index.jpg);
    }
    &-catalog {
        height: 400px;
        background-image: url(../img/header_catalog.jpg);
    }
    &-cart {
        height: 400px;
        background-image: url(../img/header_cart.jpg);
    }
    &__content {
        width: 792px;
        margin-top: $step34;
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // align-content: flex-start;
        // justify-content: flex-start;
        // align-items: flex-start;
        gap: $step16;
    }

    &__title {
        /* Для заголовка h1 (Всё, чего заслуживает ваш дом): */
        margin-top: $step30;
        max-width: 95%;
        font-weight: 600;
        font-size: $font-h1;
        line-height: 70px;
        color: $color-text;
        &-big {
            margin-top: 127px;
        }
    }

    &__text {
        /* Параграфу p (Наша мебель — ваше отражение): */
        font-size: $font-t0;
        line-height: 32px;
        color: $color-text;
    }
}

.header {
    // height: 77px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* &__logo { } */

    &__search {
        width: 288px;
        // height: 41px;
        background: transparent;
        outline: none;
        border: 1px solid $color-text;
        box-sizing: border-box;
        border-radius: 20px;
        padding-left: 32px;
        padding-top: 10.5px;
        padding-bottom: 10.5px;

        font-weight: normal;
        font-size: $font-t2;
        line-height: 20px;
        color: $color-text;
        &::placeholder {
            font-size: $font-t2;
            color: $color-text;
        }

        &:focus {
            border: 1px solid $color-text;
            outline: none;
            color: $color-text;
        }
    }
    &-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: $gap;
        /* &__item {} */
        &__link {
            /* Для верхних ссылок «Каталог» и «Корзина» в шапке сайта: */
            // text-decoration: none;
            // font-size: $font-t2;
            line-height: 20px;
            // color: $color-text;
        }
        /* &__item {} */
    }
    &__mobil {
        display: none;
    }
}
// #main2 {
//     display: none;
// }
// #main2:target {
//     display: block;
// }


.for {
    margin-top: $top1;
    &__title {
        font-weight: 600;
        font-size: $font-h2;
        line-height: 100%;
        /* text-align: center; */
    }

    &__content {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        flex-wrap: wrap;
        column-gap: $gap;
        row-gap: 31px;
    }
    &__content_cat {
        column-gap: 31px;
        row-gap: 58px;
    }

    &__item {
        height: 415px;
        grid-column: span 4;
        font-weight: 600;
        font-size: 34px;
        line-height: 41.45px;
        color: $color-text;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &_big {
            grid-column: span 6;
        }

        &-1 {
            background-image: url(../img/for-1.jpg);
        }
        &-2 {
            background-image: url(../img/for-2.jpg);
        }
        &-3 {
            background-image: url(../img/for-3.jpg);
        }
        &-4 {
            background-image: url(../img/for-4.jpg);
        }
        &-5 {
            background-image: url(../img/for-5.jpg);
        }

        &-11 {
            background-image: url(../img/product_cat001.jpg);
        }
        &-12 {
            background-image: url(../img/product_cat002.jpg);
        }
        &-13 {
            background-image: url(../img/product_cat003.jpg);
        }
        &-14 {
            background-image: url(../img/product_cat004.jpg);
        }
        &-15 {
            background-image: url(../img/product_cat005.jpg);
        }
        &-16 {
            background-image: url(../img/product_cat006.jpg);
        }

        &-cat {
            grid-column: span 4;
        }
    }

    &__cat {
        width: 378px;
        height: 250px;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: right;
        gap: 21px;
        &:hover .for__icon {
            display: block;
        }
    }

    &__icon {
        height: 20px;
        padding-top: 10px;
        padding-right: 10px;
        display: none;
    }

    &__name {
        /* Заголовку h3 (Кресло VILORA): */
        display: block;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        font-style: normal;
        line-height: 29px;
        color: $color3;
    }

    &__text {
        /* Параграфу p (Мягкое и уютное, аккуратное и стильное. Упругие подушки, сиденья и приятная на ощупь ткань): */
        margin-top: 8px;
        font-size: $font-t3;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        color: $color1;
    }
    &__price {
        margin-top: 22px;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: #050505;
    }
}
.product-box {
    margin-top: $top1;
    &__title {
        /* Заголовку h2 (Специальные предложения): */
        font-style: normal;
        font-weight: 600;
        font-size: $font-h2;
        line-height: 59px;
        color: $color3;
    }

    /* .product-box__link{} */
}
.product-content {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    column-gap: $gap;
    row-gap: 56px;
}
.product {
    padding-top: 10px;
    width: 378px;
    display: flex;
    flex-direction: column;
    &:hover .product__button {
        opacity: 1;
        overflow: visible;
    }

    &__button {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 21px;
        overflow: hidden;
        opacity: 0;
    }
    &__icon {
        width: 20px;
        height: 20px;
        padding-top: 10px;
        padding-right: 10px;
        // display: none;
    }

    &__name {
        /* Заголовку h3 (Кресло VILORA): */
        margin-top: 10px;
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        font-style: normal;
        line-height: 29px;
        color: $color3;
    }

    &__text {
        /* Параграфу p (Мягкое и уютное, аккуратное и стильное. Упругие подушки, сиденья и приятная на ощупь ткань): */
        margin-top: 9px;
        font-size: $font-t3;
        font-style: normal;
        font-weight: normal;
        line-height: 17px;
        color: $color1;
    }

    &__price-box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 32px;
    }

    &__price {
        margin-top: 12px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }

    &__sale {
        /* Параграфу p (21 000): */
        color: #050505;
    }

    &__through {
        /* Параграфу p (28 000): */
        color: $color1;
        text-decoration-line: line-through;
    }
}

.catalog-link {
    /* Ссылке <a href="catalog.html">Перейти в каталог</a> */
    font-weight: 400;
    font-size: $font-t2;
    line-height: 24px;
    // letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: Auto;
    color: $color3;
    display: block;
    margin-top: 39px;
    &:hover {
        color: $color1;
        text-decoration: none;
    }
}

.footer {
    margin-top: $top1;
    padding-top: 32px;
    padding-bottom: 40px;
    background-color: $color2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__logo {
        margin-top: 5px;
    }
    &__content {
        box-sizing: border-box;
        width: 800px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // padding-left: 25px;
    }

    &__info {
        display: flex;
        gap: 129px;
        align-content: space-between;
        // padding-left: 32px;
        // padding-right: 54px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__head {
        /* Заголовку h4 (Меню и Контакты): */
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $color3;
    }
    &__nav > ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__link {
        /* Нижним ссылкам в подвале сайта (Главная, Каталог, Корзина, номер телефона и email): */
        font-weight: 500;
        font-size: $font-t3;
        line-height: 17px;
        text-decoration: none;
        color: $color1;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    &__svg-fill {
        fill: $color1;

        &:hover {
            fill: $color3;
        }
    }
    &-form {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__news {
            /* Параграфу p (Получайте наши новости и обновления): */
            // margin-top: 5px;
            font-size: 12px;
            line-height: 15px;
            color: $color3;
            font-weight: 400;
        }

        &__mail {
            /* Полю ввода <input type="email">: */
            width: 260px;
            background: #ffffff;
            border: 1px solid #c4c4c4;
            box-sizing: border-box;
            border-radius: 20px;
            color: #c4c4c4;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            // letter-spacing: 0%;
            padding-left: 17px;
            padding-top: 12px;
            padding-bottom: 13px;

            &::placeholder {
                font-size: 12px;
                // border: 1px solid #c4c4c4;
            }
        }

        &__button {
            /* Кнопке <button>Подписаться</button>: */
            width: 260px;
            font-family: inherit;
            background: rgba(222, 215, 215, 0.41);
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 20px;
            font-size: 12px;
            line-height: 15px;
            color: $color3;
            font-weight: 400;
            padding-top: 12px;
            padding-bottom: 13px;

            &:hover {
                border: 1px solid $color3;
                background-color: $color3;
                color: $color-text;
            }
        }
    }
}

// @import "index";
@import "catalogs";
@import "carts";
@import "tablet";
@import "mobile";
